extends ../layout

block content
  .container
    if question.type==='주관식'  
      h1.page-header 주관식 질문 수정
      form(action='/todos/question/#{question._id}?_method=PUT', method='POST')
        .form-group
          label(for='content') 질문
          input.form-control(type='text', id='content', name='content', placeholder='Question details', value=question.content)
          
        div.form-actions
          a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
          | 
          button.btn.btn-primary(type='submit') 수정
    if question.type==='객관식'  
      h1.page-header 객관식 질문 수정
      form(action='/todos/question/#{question._id}?_method=PUT', method='POST')
        .form-group
          label(for='content') 질문
          input.form-control(type='text', id='content', name='content', placeholder='Question details', value=question.content)
        .form-group
          label(for='selection') 선택지
          input.form-control(type='text', id='selection1', name='selection1', placeholder='selection1 details', value=question.selection[0].selection1)
          input.form-control(type='text', id='selection2', name='selection2', placeholder='selection2 details', value=question.selection[0].selection2)
          input.form-control(type='text', id='selection3', name='selection3', placeholder='selection3 details', value=question.selection[0].selection3)
          input.form-control(type='text', id='selection4', name='selection4', placeholder='selection4 details', value=question.selection[0].selection4)
          input.form-control(type='text', id='selection5', name='selection5', placeholder='selection5 details', value=question.selection[0].selection5)        
        div.form-actions
          a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
          | 
          button.btn.btn-primary(type='submit') 수정
    if question.type==='의견'  
      h1.page-header 의견 수정
      form(action='/todos/question/#{question._id}?_method=PUT', method='POST')
        .form-group
          label(for='content') 질문
          input.form-control(type='text', id='content', name='content', placeholder='Question details', value=question.content)
          
        div.form-actions
          a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
          | 
          button.btn.btn-primary(type='submit') 수정
