h3 질문 목록 (#{todo.numQuestion})

br
ul#set.list-unstyled
  each question in questions
    li
      b Qustion. #{question.seq} #{question.type}
      p= question.content
      if question.type === '주관식'
        .form-inline
          input.form-control(name='answer', size=40, placeholder='answer here') 
        a#q_button.btn.btn-xs.btn-default(href='/todos/question/#{question._id}/edit') 수정 
        a#q_button.btn.btn-xs.btn-default(href='/todos/question/#{question._id}?_method=DELETE') 삭제
      if question.type === '의견'
        .form-group
          textarea.form-control(name='answer', rows=2 placeholder='answer here') 
        a#q_button.btn.btn-xs.btn-default(href='/todos/question/#{question._id}/edit') 수정 
        a#q_button.btn.btn-xs.btn-default(href='/todos/question/#{question._id}?_method=DELETE') 삭제
      if question.type === '객관식'
        .radio
          label
            input(type='radio', name='selection', value=question.selection[0].selection1) 
            span #{question.selection[0].selection1}
        .radio
          label
            input(type='radio', name='selection', value=question.selection[0].selection2)
            span #{question.selection[0].selection2}
        .radio
          label
            input(type='radio', name='selection', value=question.selection[0].selection3)
            span #{question.selection[0].selection3}
        .radio
          label
            input(type='radio', name='selection', value=question.selection[0].selection4) 
            span #{question.selection[0].selection4}
        .radio
          label
            input(type='radio', name='selection', value=question.selection[0].selection5) 
            span #{question.selection[0].selection5}
        a#q_button.btn.btn-xs.btn-default(href='/todos/question/#{question._id}/edit') 수정 
        a#q_button.btn.btn-xs.btn-default(href='/todos/question/#{question._id}?_method=DELETE') 삭제       
