extends ../layout

block content
  .container
    h1= todo.title
    h5= todo.createdAt 
    h3
    .well= todo.content
    form(action='/todos/#{todo.id}/set/response', method='POST')
      h5 응답자의 이메일 주소를 입력해주세요.
      .form-inline
        input.form-control(name='email', size=40, placeholder='email here')
      br
      br
      h3 질문 목록 (#{todo.numQuestion})
      
      br
      ul#set.list-unstyled
        each question in questions
          li
            b Qustion. #{question.seq} #{question.type}
            p= question.content
            if question.type === '주관식'
              .form-inline
                input.form-control(name=question.id, size=60, placeholder='answer here') 
            if question.type === '의견'
              .form-group
                textarea.form-control(name=question.id, rows=2 placeholder='answer here') 
            if question.type === '객관식'
              .radio
                label
                  input(type='radio', name=question.id, value=1) 
                  span #{question.selection[0].selection1}
              .radio
                label
                  input(type='radio', name=question.id, value=2)
                  span #{question.selection[0].selection2}
              .radio
                label
                  input(type='radio', name=question.id, value=3)
                  span #{question.selection[0].selection3}
              .radio
                label
                  input(type='radio', name=question.id, value=4) 
                  span #{question.selection[0].selection4}
              .radio
                label
                  input(type='radio', name=question.id, value=5) 
                  span #{question.selection[0].selection5}  
                    
      div.form-actions          
        button.btn.btn-success(type='submit') 전송
    
